{% extends 'base.html' %}

{% block title %}
Contato
{% endblock %}

{% block content %}

<div class="intro-sm">
    <div class="intro-body-sm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="brand-heading-sm">Institution</h1>
                    <p class="intro-text">
                        www.institution.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container content-section">
        <div class="row justify-content-center">

            <div class="col-md-8">

                {% if msg %}
                    {% if msg.status == 'success' %}
                        <div class="alert alert-success text-center">{{msg.msg}}</div>
                    {% endif %}
                {% endif %}
                {% if form %}
                    <h2 class="brand-heading text-center">CONTACT US</h2>
                    <div id="contactform">

                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            {{ form }}

                            <input type="submit" class="btn" value="Enviar">

                        </form>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

</section>

{% endblock %}